<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<!--<title>{:_ACTION}</title>-->
<title>积分商城</title>
<link rel="stylesheet" href="{:ADDON_PUBLIC_PATH}/style/global.css">
<link rel="stylesheet" href="{:ADDON_PUBLIC_PATH}/style/default.css">
<link href="__STATIC__/font-awesome/css/font-awesome.min.css?v={:SITE_VERSION}" rel="stylesheet">
<style>
.topbackreturn{
	    position: absolute;
    display: block;
    background: url(../images/arrow_left_white.png) center no-repeat;
    background-size: 16px 16px;
    height: 40px;
    width: 40px;
    float: left;
    top: 7px;
    left: 5px;
    border-radius: 18px;
	color:white;
	z-index:300
}
</style>
</head>
<!--<a href="{:addons_url('UserInfo://Index/index')}"><div class="topbackreturn">< 返回会员卡</div></a>-->