<header style="background-color:#{$shop_config.color}">
  <div class="logo pa"><a href="{:addons_url('Shop://Index/index')}"><img src="{$shop_config.logo_img|get_cover_url}" alt=""></a></div>
  <div class="search pa h">
    <input id="search_val" type="text" value="{$search_val}">
    <div class="search_button"><img src="{:ADDON_PUBLIC_PATH}/images/icon-search.png" alt=""></div>
  </div>
  <a href="{:addons_url('Shop://Index/cart')}" class="cart" style="display:none;"><span class="pa shopcart_count" style="<eq name='shopcart_count' value='0'>display:none</eq>">{$shopcart_count}</span></a>
  <script>
      $('.search_button').click(function(){
          var search_val = $('#search_val').val();
          url = "{:addons_url('Shop://Index/searchlist')}&search_val="+search_val;
          window.location=url;
      })
  </script>
  <!--图片预先加载-->

</header>