<include file="Public/mobile_head"/>
<include file="./Addons/Shop/View/default/Index/base.html" />
<body>
<!--顶部搜索-->
<include file="./Addons/Shop/View/default/Index/header.html" />
<!--END 顶部搜索 -->

<!--底部导航-->
<include file="./Addons/Shop/View/default/Index/footer.html" />
<!--END 底部导航-->
<section id="title">订单详情</section>
<section id="order-detail" class="p10">
	<p>订单号：796605822</p>
	<p>订单状态：<span class="cp">已完成</span></p>
	<p>下单时间：2013-10-16 10:13:14</p>
	<div class="box tr f1-2 mtb10">
		<div class="title f1-4 cf"><span class="l">订单金额</span>￥198.00</div>
		<div class="bd p10">
			<p><span class="l">商品金额：</span><span class="cp">￥178.00</span></p>
			<p><span class="l">运费：</span><span class="cp">￥20.00</span></p>
		</div>
	</div>
	<div class="box mb10 list">
		<div class="pr clear p10">
			<div class="l mr10"><img src="upload/3.jpg" alt=""></div>
			<div class="dib f1-2">姚明纳帕勋章干红葡萄酒</div>
			<div class="pa c9">数量：1</div>
		</div>
		<div class="btn tc"><button>我要评价</button></div>
		<div class="pr clear p10">
			<div class="l mr10"><img src="upload/4.jpg" alt=""></div>
			<div class="dib f1-2">姚明纳帕勋章干红葡萄酒</div>
			<div class="pa c9">数量：1</div>
		</div>
		<div class="btn tc"><button>我要评价</button></div>
		<div class="pr clear p10">
			<div class="l mr10"><img src="upload/5.jpg" alt=""></div>
			<div class="dib f1-2">姚明纳帕勋章干红葡萄酒</div>
			<div class="pa c9">数量：1</div>
		</div>
		<div class="btn tc"><button>我要评价</button></div>
	</div>
	<div class="box mb10 p10">
		<p>猪八戒</p>
		<p>四川省 成都市 武侯区</p>
		<p>详细地址：二环路东五段2348号</p>
		<p>1874938630</p>
	</div>
	<div class="box mb10 p10">
		<span class="r">货到付款</span>支付方式
	</div>
	<div class="box mb10 p10">
		<p><span class="r">普通发票</span>发票信息</p>
		<p class="c7">发票抬头：个人<span class="ml20">发票内容：明细</span></p>
	</div>
</section>
<footer>
  <p class="copyright">Copyright by 宝税电商<span class="ml10 mr10">|</span>UBoat100.com 技术支持</p>
  <div class="logo_footer"><a href="{:addons_url('Shop://Index/index')}"><img src="{:ADDON_PUBLIC_PATH}/images/temp/logo.png" alt="宝税电商"></a></div>
</footer>
</body>
<script src="{:ADDON_PUBLIC_PATH}/js/jquery.js"></script>
<script src="{:ADDON_PUBLIC_PATH}/js/comm.js"></script>
</html>
