<include file="Public/mobile_head"/>
<include file="./Addons/Shop/View/default/Index/base.html" />

<!--底部导航--> 
<include file="./Addons/Shop/View/default/Index/footer.html" /> 
<!--END 底部导航-->
<body class="cate">
<header style="background-color:#{$shop_config.color}">
  <section id="title">
      <a href="javascript:history.back()"><span class="topback"></span><span class="topback_name"></span></a>会员中心
    
  </section>
</header>
{$html}
<!--底部 版权信息--> 
<include file="./Addons/Shop/View/default/Index/footerbq.html" /> 
<!--END 底部导航-->
</body>
</script>
</html>
