html,body{
	height:100%;
	overflow:hidden
}
body{
	background:url(http://ob26aihye.bkt.clouddn.com/bgwhite2.jpg);background-size:100% 100%;
}
.normal{
	width: 33%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    display: inline-block;
    color: #c7c7c8;
    float: left;
}
.active{
	color:#e95514
}
.scorelist,.moneylist,.secklist{
	display:none
}
.view{
display:block;
}

.mt10{
width:100%;
position:relative;
height:50%;
overflow:scroll;
-webkit-overflow-scrolling:touch
}

#secklist{
	float: left;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    background-color: #fff;
    min-height: 100px;
    margin-left: 5%;
    margin-top: 2px;
    position: relative;
	width:90%;
	height:6rem;
	margin-bottom:0.5rem
}

.daojishi{
	background: #e55514;
	position: absolute;
	right: 8%;
	bottom: 3%;
	font-size: 0.8rem;
	font-weight: normal;
	padding:0 1rem;
	text-align: center;
	height:1.5rem;
	line-height:1.5rem;
}

#decorate{
	height:2px;width:5rem;background:#e95514;position:absolute;top:2rem;left:17%;margin-left:-2.5rem
}

.sectionChoose{
	width:100%;height:2rem;position:relative
}

.background-img{
	background:#dbdcdc;background-image: url(http://7xt9sy.com1.z0.glb.clouddn.com/547816006320024675.jpg);width:80%;height:60%;position:absolute;left:10%;top:10%;background-position:center;background-size:100% 100%;background-repeat:no-repeat;border:1px solid #f4f4f4
}

.hot_title .name{
	font-weight: normal;
	color: black;
	position: absolute;
	top: 71%;
	font-size: 0.8rem;
	left: 8%;
	width: 85%;
}
.hot_title .oldprice{
	position: absolute;
	left: 8%;
	bottom: 9%;
	font-weight: normal;
	font-size: 0.8rem
}
.detail_btn{
	position:absolute;right:8%;bottom:5%;font-size:0.8rem;font-weight:normal;color:black
}
#secklist .background-img{
	background:url(http://7xt9sy.com1.z0.glb.clouddn.com/547816006320024675.jpg);
	background-position:center;background-size:100% 100%;background-repeat:no-repeat;border:1px solid #f4f4f4;
	width: 32%;
	height: 90%;
	position: absolute;
	left: 2%;
	top: 5%;
}
.seckname{
	font-weight: normal;
	color: black;
	position: absolute;
	top: 10%;
	font-size: 1.2rem;
	left: 7%;
	width: 85%;
	text-align: right;
}

.seckprice{
	font-weight: normal;
	color: #c2383c;
	position: absolute;
	top: 30%;
	font-size: 0.8rem;
	left: 7%;
	width: 85%;
	text-align: right;
}
.seckbtn{
	background: #e55514;
	position: absolute;
	right: 8%;
	bottom: 30%;
	font-size: 0.8rem;
	font-weight: normal;
	color: white;
	width: 6rem;
	text-align: center;
	border-radius: 0.5rem;
	height: 1rem;
	line-height: 1rem;
}

.symbol{
	width:3rem;
	height:1.5rem;
	background:url(http://ob26aihye.bkt.clouddn.com/symbol.png);
	background-size:100% 100%;
	top:0;
	left:0;
	position:absolute;
	z-index:100
}
