<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关注百事通</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
	<style>
	*{
            margin:0;padding:0;
}
        body,html{
            width:100%;
            overflow-y:scroll;
			box-sizing:border-box;
			overflow-x:hidden;
			background:url(http://ob26aihye.bkt.clouddn.com/guanzhubg.jpg) repeat;
			background-size:100% 100%;
        }
		
	</style>
</head>
<body>

</body>
</html>