

<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-type" />
		<!--
		    第一个meta标签表示：强制让文档的宽度与设备的宽度保持1:1，并且文档最大的宽度比例是1.0，且不允许用户点击屏幕放大浏览；
		    第二个meta标签是iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；
		    第三个meta标签也是iphone的私有标签，它指定的iphone中safari顶端的状态条的样式；
		    第四个meta标签表示：告诉设备忽略将页面中的数字识别为电话号码；
		-->
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="email=no,telephone=no" name="format-detection" />
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<title>百事通H5精品案例</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link href="css/swiper-3.2.7.min.css" rel="stylesheet" />
		<link href="css/main.css" rel="stylesheet" />

		<!--<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>-->

		<script type="text/javascript" src="js/swiper-3.2.7.min.js"></script>
	</head>
	<body>
		<div id="mainPage" class="main_page">
			<section class="sectionStyle">
				<div id="poster" class="swiper-container">
					<div class="swiper-wrapper">
						<a href="#" class="swiper-slide"><img src="img/poster/1.jpg" width="100%" /></a>
						<a href="#" class="swiper-slide"><img src="img/poster/6.jpg" width="100%" /></a>
						<a href="#" class="swiper-slide"><img src="img/poster/3.jpg" width="100%" /></a>
					</div>
					
					<div class="swiper-pagination"></div>
				</div>
				
				<nav id="maintab" class="maintab">
					<h4>最新游戏</h4>
				</nav>

				<div id="mainGames" class="games">
					<ul id="maingame_box">
						<li>
							<a href="http://kf.gzbaishitong.com/games/run/index.php">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="img/game8.jpg" /></div>
									<p class="title">loud仔邀请你一起华丽冒险</p>
									<p class="introduce">最美的风景没有尽头，现在就跟loud仔来一场唯美的冒险吧！</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://game.gzbaishitong.com/index.php?g=Wap&m=Vote&a=index&id=12&token=Eioa5C5oj3S32qhH">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="http://game.gzbaishitong.com/uploads/E/Eioa5C5oj3S32qhH/4/f/9/c/thumb_56c3ed6f9b058.jpg" /></div>
									<p class="title">百事通投票大赏</p>
									<p class="introduce">我参加了百事通投票活动，你呢</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://kf.gzbaishitong.com/games/couples/index.php">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="img/game1.jpg" /></div>
									<p class="title">拯救单身汉</p>
									<p class="introduce">丘比特天使来拯救万千单身狗</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://kf.gzbaishitong.com/games/furious/index.html">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="img/game2.jpg" /></div>
									<p class="title">划龙舟</p>
									<p class="introduce">端午节，赛龙舟，捡粽子</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://kf.gzbaishitong.com/games/snpy/index.php">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="img/game3.jpg" /></div>
									<p class="title">拍史努比</p>
									<p class="introduce">只要你拍得准，我就送</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://baozou.gzbaishitong.com/project/vote2/index.php">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="img/game9.jpg" /></div>
									<p class="title">即时图片投票</p>
									<p class="introduce">广州农商银行全城寻太阳，晒相赢大奖活动。</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://baozou.gzbaishitong.com/project/nongshangnew11/index.php">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="img/game10.jpg" /></div>
									<p class="title">广州农商银行</p>
									<p class="introduce">广州农商银行见“1”答题抽奖活动。</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://addon.gzbaishitong.com/app/index.php?i=22&c=entry&do=index&m=duiwai&type=userinfo&redirecturl=http://kf.gzbaishitong.com/games/zombie3/php/get_wx_userinfo.php">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="img/game4.jpg" /></div>
									<p class="title">万圣节打僵尸</p>
									<p class="introduce">万圣节去哪玩，当然去打僵尸</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://addon.gzbaishitong.com/app/index.php?i=22&c=entry&id=4&do=detail&m=qiyue_testing">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="img/game5.jpg" /></div>
									<p class="title">最强粤语</p>
									<p class="introduce">show粤语，赢积分</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://kf.gzbaishitong.com/games/jntt/index.html">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="img/game6.jpg" /></div>
									<p class="title">贱鸟跳跳</p>
									<p class="introduce">史上最萌最贱的小鸟</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://kf.gzbaishitong.com/games/duxinshu/index.html">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="img/game11.jpg" /></div>
									<p class="title">超级读心术，超准！</p>
									<p class="introduce">高智商手机魔术，敢挑战吗？</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://www.wantouch.com/h55/games/qcds">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="http://www.wantouch.com/h55/games/qcds/icon.png" /></div>
									<p class="title">切菜大师</p>
									<p class="introduce">以最快的熟读切完菜</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://www.wantouch.com/h55/games/dlgt">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="http://www.wantouch.com/h55/games/dlgt/icon.png" /></div>
									<p class="title">垒了个塔</p>
									<p class="introduce">点击屏幕放置楼层</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://www.wantouch.com/h55/games/sdyjq">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="http://www.wantouch.com/h55/games/sdyjq/icon.png" /></div>
									<p class="title">速度与激情</p>
									<p class="introduce">速度与激情的碰撞</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://www.wantouch.com/h55/games/pkq">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="http://www.wantouch.com/h55/games/pkq/icon.png" /></div>
									<p class="title">暴打比卡丘</p>
									<p class="introduce">比卡丘萌萌哒</p>
								</div>
							</a>
						</li>
						<li>
							<a href="http://www.wantouch.com/h55/games/gqds">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="http://www.wantouch.com/h55/games/gqds/icon.png" /></div>
									<p class="title">钢琴大师</p>
									<p class="introduce">经典的音乐游戏</p>
								</div>
							</a>
						</li>
						<!--<li>
							<a href="http://kf.gzbaishitong.com/games/tutu/index.html">
								<div class="game_content">
									<div class="game_icon"><img class="radius_style img" src="img/game7.jpg" /></div>
									<p class="title">拯救兔兔</p>
									<p class="introduce">拯救可爱的小兔兔</p>
								</div>
							</a>
						</li>-->
					</ul>
				</div>
			</section>
		</div>


		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script>
		function wxshare(){
			wx.config({
				debug: false,
				appId: '<?php echo $signPackage["appId"];?>',
				timestamp: <?php echo $signPackage["timestamp"];?>,
				nonceStr: '<?php echo $signPackage["nonceStr"];?>',
				signature: '<?php echo $signPackage["signature"];?>',
				jsApiList: [
					// 所有要调用的 API 都要加到这个列表中
					'checkJsApi',
					'openLocation',
					'getLocation',
					'onMenuShareTimeline',
					'onMenuShareAppMessage'
				  ]
			});

			wx.ready(function () {
				wx.checkJsApi({
					jsApiList: [
						'getLocation',
						'onMenuShareTimeline',
						'onMenuShareAppMessage'
					],
					success: function (res) {
						//alert(JSON.stringify(res));
					}
				});
			

				wx.onMenuShareAppMessage({
				  title: '百事通H5精品案例',
				  desc: '更多好玩有趣的H5游戏，场景尽在广州百事通。',
				  link: 'http://kf.gzbaishitong.com/games/gamelist/index.php',
				  imgUrl: 'http://kf.gzbaishitong.com/games/gamelist/img/poster/1.jpg',
				  trigger: function (res) {
				  },
				  success: function (res) {
				  },
				  cancel: function (res) {
				  },
				  fail: function (res) {
				  }
				});

				wx.onMenuShareTimeline({
				  title: '百事通H5精品案例',
				  desc: '更多好玩有趣的H5游戏，场景尽在广州百事通。',
				  link: 'http://kf.gzbaishitong.com/games/gamelist/index.php',
				  imgUrl: 'http://kf.gzbaishitong.com/games/gamelist/img/poster/1.jpg',
				  trigger: function (res) {
				  },
				  success: function (res) {
				  },
				  cancel: function (res) {
				  },
				  fail: function (res) {
				  }
				});
			});
		}
		wxshare();
		</script>
	</body>
</html>
